.workContainer {
    padding: 5%;
    width: 80%;
    height: 90%;
    padding-top: 10%;
}

.titleContainer {
    width: 70%;
    height: 15%;
    margin: 0 auto;
}

.titleText {
    font-size: clamp(2rem, 10vw, 3rem);
}

.cardContainer {
    width: 70%;
    height: 65%;
    margin: 0 auto;
    display: flex;
}

.workChoiceContainer {
    height: 100%;
    width: 25%;
}

.workTitleContainer {
    width: 100%;
    height: 16.66666666666666666%;
    display: flex;
    align-items: center;
    border-left: solid #B8A8BA;
    padding-left: 10%;
    cursor: pointer;
}

.workSelectionContainer {
    width: 80%;
    height: 100%;
}

.typeAnimation {
    font-size: clamp(1rem, 8vw, 3rem);
    color: #FF8484;
    font-family: Arial; 
    text-decoration-style: underline;
    font-weight: bold; 
    margin-left: 1.5%;
    margin-top: 0.8%;
}