.navbar {
    display: flex;
    width: 100%;
    position:fixed;
    z-index: 1000;
}

ul {
    list-style-type: none;
}

.logo {
    width: 10%;
    height: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

li {
  float: left;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navText {
    color: #FF8484
}